#infoDiv {
  height: 100vh;
  width: 100%;
  position: relative;
  top: 5%;
  font-family: 'helvetica';
}

#headerDiv {
  text-align: center;
}

#bodyDiv {
  position: relative;
  left: 25%;
  top: 2.5%;
  width: 50%;
}
