#infoDiv {
  position: absolute;
  top: 0px;
  bottom: 0px;
}

#headerDiv {
  text-align: center;
}

#bodyDiv {
  margin-bottom: 50px;
  margin-left: 30px;
  margin-right: 30px;
}

#sourceContainer {
  background-color: white;
  height: 50px;
  position: fixed;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin-bottom: 0px;

}

.footer {
  position: relative;
  width: 50%;
  bottom: 15px;
}

#back {
  float: left;
  left: 20px;
}

#source {
  float: right;
  text-align: right;
  right: 20px;
}
