#infoDiv {
  position: absolute;
  top: 0px;
  bottom: 0px;
}

#headerDiv {
  text-align: center;
}

#bodyDiv {
  margin-bottom: 7%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

#sourceContainer {
  background-color: white;
  height: 7%;
  position: fixed;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin-bottom: 0px;

}

#source {
  text-align: right;
  position: relative;
  bottom: 35%;
  right: 3%;
}
