/* I like this https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
/* TODO: make everything relative */

/*** Parents ***/
.top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('./images/omniwhole.png');
  background-repeat: no-repeat;
  background-position: 36% 64%;
  background-size: 96% 86%;
  background-color: lightblue;
}

.parent {
  display: flex;
  height: 70%;
  width: 96%;
  /*background-color: lightblue;*/
  /*margin-right: 70px;*/
}

/*** Left Side ***/
.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20%;
}

#topleft {
  background-image: url('./images/omni-topleft.png');
  background-size: 91% 98%;
  background-repeat: no-repeat;
  background-position: right;
}

#middleleft {
  background-image: url('./images/omni-middleleft.png');
  background-size: 99% 99%;
  background-repeat: no-repeat;
  background-position: right;
}

#bottomleft {
  background-image: url('./images/omni-bottomleft.png');
  background-size: 91% 98%;
  background-repeat: no-repeat;
  background-position: right;
}

.leftSide div {
  height: 100%;
}

.leftSide li {
  height: 50%;
}

.leftButton {
  height: 43%;
  width: 10%;
  margin-top: 2%;
}

#memoryButton {
  background-color: yellow;
  margin-top: 9%;
  margin-left: 79%;
}

.upButton {
  background-color: rgb(220,220,220);
  margin-left: 5%;
}

.firstDownButton {
  background-color: rgb(220,220,220);
  margin-left: 25%;
}

.secondDownButton {
  background-color: rgb(220,220,220);
  margin-left: 15%;
}

.rhythmButton {
  background-color: rgb(255,198,198);
  height: 40%;
  margin-left: 4.3%;
  margin-top: 8%;
}

#firstRhythmButton {
  background-color: rgb(255,198,198);
  margin-left: 13%;
}

/*** Button Space & Body ***/
#oBody {
  width: 45%;
  height: 100%;
  /*background-color: purple;*/
}

.buttonSpace {
  margin-top: 13%;
  margin-left: 5%;
  width: 100%;
  height: 55%;
  /*background-color: yellow;*/
}

#oLogo {
  /*background-color: gray;*/
  margin-bottom: 1%;
  height: 30%;
  background-image: url('./images/omnilogo.png');
  background-size: 65% 65%;
  background-position: top;
  background-repeat: no-repeat;
}

/*** Bar container ***/
#barContainer {
  height: 80%;
  width: 13%;
  background-image: url('./images/touchbar.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: row;
}


/*** Bar Space ***/
.barSpace {
  width: 40%;
  height: 90%;
  background-color: rgb(0,0,0,0);
  margin-left: 10%;
  margin-top: 9.5%;
}

/*** Stop bar ***/
.stopBar {
  margin-left: 5%;
  height: 100%;
  width: 20%;
  background-color: rgb(0,0,0,0);
}

.stopButton {
  background-color: white;
  height: 9%;
  width: 90%;
  margin-left: 90%;
  margin-top: 100%;
}

/*** Speaker ***/
#speaker {
  width: 22%;
  background-image: url('./images/omnispeaker.png');
  background-size: 93% 76%;
  background-repeat: no-repeat;
  margin-top: 1%;
  margin-left: 1%;
}

/*** General ***/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
}
