/* I like this https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.parent {
  display: flex;
}

.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20%;
}

.leftSide div {
  height: 100%;
}

.leftSide li {
  height: 50%;
}

.buttonSpace {
  width: 40%;
  background-color: yellow;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

.barSpace {
  width: 10%;
  background-color: white;
}

.stopBar {
  width: 5%;
  background-color: red;
}

.stopButton {
  width: 100%;
  background-color: orange;
  margin-top: 20px;
}
