/* I like this https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

/*** Parents ***/
.top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.parent {
  display: flex;
  height: 70%;
  width: 85%;
  background-color: blue;
  margin-right: 70px;
}

/*** Left Side ***/
.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 22%;
}

.leftSide div {
  height: 100%;
}

.leftSide li {
  height: 50%;
}

#memoryButton {
  background-color: yellow;
  height: 45%;
  width: 10%;
  margin-top: 20px;
  margin-left: 40px;
}

.upButton {
  background-color: white;
  height: 45%;
  width: 10%;
  margin-left: 15px;
}

.downButton {
  background-color: white;
  height: 45%;
  width: 10%;
  margin-left: 40px;
}

.rhythmButton {
  background-color: white;
  height: 40%;
  width: 10%;
  margin-left: 5px;
  margin-top: 15px;
}

#firstRhythmButton {
  background-color: white;
  height: 40%;
  width: 10%;
  margin-left: 40px;
}

/*** Button Space ***/
.buttonSpace {
  width: 45%;
  background-color: yellow;
}
/*** Bar Space ***/
.barSpace {
  width: 7%;
  background-color: white;
}

/*** Stop bar ***/
.stopBar {
  margin-left: 2px;
  width: 10%;
  background-color: white;
}

.stopButton {
  background-color: white;
  height: 10%;
  width: 30%;
  margin: 30px 0px 0px 30px;
}

/*** General ***/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
}
