.buttonLi {
  height: 11%;
  width: 100%;
}

.chordButton {
  height: 80%;
  width: 5%;
  background-color: white;
  margin: 10px 10px 10px 10px;
}

#rowList {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
