.buttonLi {
  height: 25%;
  width: 100%;
}

.dummyLi {
  height: 25%;
  width: 100%;
}

.chordButton {
  height: 60%;
  width: 5%;
  background-color: white;
  margin-right: 4.3%;
}

#buttonList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10%;
}

#buttonDiv {
  height: 70%;
  /*background-color: red;*/
  background-image: url('./images/chord_outline.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
